<div class="container">

  <header>
    <h1 style="color: #e2e2e2">Technical Platforms <span >Transforming ideas to <i>innovations</i></span></h1>
  </header>

  <div class="wrapper">
    <ul class="stage clearfix">
      <li class="scene">
        <div class="movie" onclick="return true">
          <div class="poster"></div>
          <div class="info">
            <header>
              <h1>Angular</h1>
              <!-- <span class="year">1946</span>
                                <span class="rating">PG</span>
                                <span class="duration">130 minutes</span> -->
            </header>
            <p>
              In software development, AngularJS (commonly referred to as "Angular") is an open-source web application framework maintained by Google and by a community of individual developers and corporations to address many of the challenges encountered in developing single-page applications.
            </p>
            <p><a href="https://angularjs.org/" target="_blank">Dive into Angular! </a></p>
          </div>
        </div>
      </li>

      <li class="scene">
        <div class="movie" onclick="return true">
          <div class="poster"></div>
          <div class="info">
            <header>
              <h1>Hive</h1>
              <!-- <span class="year">1951</span>
                                <span class="rating">NR</span>
                                <span class="duration">83 minutes</span> -->
            </header>
            <p>
              Apache Hive is a data warehouse infrastructure built on top of Hadoop for providing data summarization, query, and analysis. While initially developed by Facebook, Apache Hive is now used and developed by other companies such as Netflix.
            </p>
            <p><a href="https://hive.apache.org/" target="_blank">Learn Hive! </a></p>
          </div>
        </div>
      </li>
      <li class="scene">
        <div class="movie" onclick="return true">
          <div class="poster"></div>
          <div class="info">
            <header>
              <h1>Yeoman</h1>
              <!-- <span class="year">1951</span>
                                <span class="rating">NR</span>
                                <span class="duration">83 minutes</span> -->
            </header>
            <p>
              Yeoman - a set of tools for automating development workflow.
            </p>
            <p><a href="http://yeoman.io/" target="_blank">Yo Magic!! </a></p>
          </div>
        </div>
      </li>
      <li class="scene">
        <div class="movie" onclick="return true">
          <div class="poster"></div>
          <div class="info">
            <header>
              <h1>Grunt</h1>
              <!-- <span class="year">1951</span>
                                <span class="rating">NR</span>
                                <span class="duration">83 minutes</span> -->
            </header>
            <p>
              Automation, performing repetitive tasks like minification, compilation, unit testing and linting.
            </p>
            <p><a href="http://gruntjs.com/" target="_blank">The Power of Grunt </a></p>

          </div>
        </div>
      </li>
      <li class="scene">
        <div class="movie" onclick="return true">
          <div class="poster"></div>
          <div class="info">
            <header>
              <h1>Bower</h1>
              <!-- <span class="year">1951</span>
                                <span class="rating">NR</span>
                                <span class="duration">83 minutes</span> -->
            </header>
            <p>
              Bower is a package management system for client-side programming on the World Wide Web. It depends on Node.js and npm.
            </p>
            <p><a href="http://bower.io/" target="_blank">Bower is waiting Here </a></p>

          </div>
        </div>
      </li>

      <li class="scene">
        <div class="movie" onclick="return true">
          <div class="poster"></div>
          <div class="info">
            <header>
              <h1>Bootstrap</h1>
              <!-- <span class="year">1925</span>
                                <span class="rating">NR</span>
                                <span class="duration">95 minutes</span> -->
            </header>
            <p>
              Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
              .
            </p>
            <p><a href="http://getbootstrap.com/" target="_blank">Beautify using Bootstrap </a></p>

          </div>
        </div>
      </li>


    </ul>
  </div><!-- /wrapper -->
</div><!-- /container -->
